@import "./../../../src/styles/variables";
@import "./../../../src/styles/mixins";

.container {
  width: 100%;
  height: 100vh;
  @include flex(row, center, center);
  background-color: $color-background;

  .form {
    gap: 1rem;
    width: 50%;
    padding: 3rem;
    border-radius: 10px;
    background-color: $color-secondary;
    @include flex(column, flex-start, center);

    .input {
      gap: 0.5rem;
      width: 100%;
      color: $color-primary;
      @include flex(column, "", "");

      label {
        font-size: 1.2rem;
      }

      input,
      textarea {
        border: none;
        outline: none;
        height: 2.5rem;
        padding: 0.5rem;
        border-radius: 5px;

        &::placeholder {
          color: $color-grey-light;
        }
      }

      textarea {
        height: 8rem;
      }
    }

    .submitButton {
      border: none;
      cursor: pointer;
      margin-top: 1rem;
      font-size: 1.1rem;
      border-radius: 5px;
      padding: 0.8rem 3rem;
      transition: all 300ms;
      color: $color-secondary;
      background-color: $color-primary;

      &:hover,
      &:active {
        background-color: $color-primary-dark;
      }
    }
  }
}

@media (max-width: $large) {
  .form {
    width: 60% !important;
  }
}

@media (max-width: $medium) {
  .form {
    width: 70% !important;
  }
}
