@import "./../../../src/styles/variables";
@import "./../../../src/styles/mixins";

.container {
  width: 100%;
  height: 100vh;
  background-color: $color-background;
  @include flex(row, center, center);

  .wrapper {
    width: 60%;
    height: 90vh;
    @include flex(column, center, center);
    box-shadow: rgba(192, 189, 189, 0.35) 0px 5px 15px;
  }

  .heading,
  .mainBody,
  .author {
    width: 100%;
    padding: 1rem 2rem;
    color: $color-secondary;
    @include flex(row, center, center);
  }

  .heading {
    height: 15%;
    font-size: 2rem;
    border-bottom: 1px solid $color-secondary;
  }
  .mainBody {
    gap: 2rem;
    height: 70%;
    @include flex(column, center, flex-start);

    h3 {
      margin: 1rem 0;
    }
  }

  .author {
    gap: 0.5rem;
    height: 15%;
    font-size: 0.9rem;
    border-top: 1px solid $color-secondary;
    @include flex(column, flex-start, center);
  }
}

@media (max-width: $large) {
  .wrapper {
    width: 75% !important;
  }
}

@media (max-width: $medium) {
  .wrapper {
    width: 85% !important;
  }

  .heading {
    font-size: 1.5rem !important;
  }
}

@media (max-width: $small) {
  .wrapper {
    width: 90% !important;
  }

  .heading {
    font-size: 1.3rem !important;
  }

  .mainBody {
    font-size: 0.9rem;
  }
}
