@import "./../../../src/styles/variables";
@import "./../../../src/styles/mixins";

.container {
  width: 100%;
  min-height: 100vh;
  padding: 3rem 1rem;
  background-color: $color-background;
  @include flex(row, flex-start, center);

  .wrapper {
    gap: 3%;
    width: 90%;
    height: 90%;
    flex-wrap: wrap;
    @include flex(row, center, center);
  }
}

@media (max-width: $large) {
  .qouteCard {
    width: 40% !important;
    @include flex(row, center, center);
  }
}

@media (max-width: $medium) {
  .qouteCard {
    margin-bottom: 1rem;
    width: 70% !important;
    @include flex(row, center, center);
  }
}
