@import "./../../../src/styles/variables";
@import "./../../../src/styles/mixins";

.container {
  width: 100%;
  height: 100vh;
  position: relative;

  .sidebar {
    top: 10%;
    left: 50%;
    z-index: 1111;
    position: absolute;
    transform: translateX(-50%);
  }

  .navigation {
    width: 100%;
    height: 10%;
    padding: 1rem 3rem;
    background-color: $color-secondary;
  }

  .navigation {
    color: $color-primary;
    @include flex(row, center, space-between);

    .logo {
      font-size: 2rem;
    }

    .linksWrapper {
      width: 30%;

      .navLinks {
        width: 100%;
        list-style: none;
        @include flex(row, center, space-between);

        .link {
          cursor: pointer;
          font-size: 1.1rem;
          transition: all 300ms;
          border-bottom: 1px solid transparent;

          &:hover,
          &:active li {
            border-bottom: 1px solid $color-primary;
          }
        }
      }
    }

    .burger {
      width: 2rem;
      height: 2rem;
      @include flex(row, center, center);

      .menuIcon {
        width: 100%;
        cursor: pointer;
      }
    }
  }

  .body {
    width: 100%;
    height: 90%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../../public/media/images/wallpaper.jpg");

    .bodyWrapper {
      gap: 10%;
      width: 80%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-secondary;

      .headingWrapper,
      .actions {
        gap: 1rem;
        width: 45%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }

      .headingWrapper {
        padding: 1rem;
        text-align: center;

        .welcome {
          font-size: 5rem;
        }

        .heading {
          font-size: 3rem;
        }
      }

      .actions {
        height: 50%;
        border-radius: 10px;
        background-color: $color-secondary-light;

        .link {
          border: none;
          text-decoration: none;
          border-radius: 9px;
          font-size: 1.1rem;
          padding: 1rem 3rem;
          transition: all 300ms;
          color: $color-secondary;
          border: 3px solid transparent;
          background-color: $color-primary;

          &:hover,
          &:active {
            color: $color-primary;
            background-color: $color-secondary;
            border: 3px solid $color-primary;
          }
        }
      }
    }
  }
}

@media (max-width: $extra-large) {
  .welcome {
    font-size: 4rem !important;
  }

  .heading {
    font-size: 2.5rem !important;
  }
}

@media (max-width: $large) {
  .welcome {
    font-size: 3rem !important;
  }

  .heading {
    font-size: 2rem !important;
  }
}

@media (max-width: $medium) {
  .bodyWrapper {
    gap: 2% !important;
    width: 100% !important;
    flex-direction: column !important;
    justify-content: flex-start !important;

    .headingWrapper {
      height: 20% !important;
      width: 100% !important;
    }

    .welcome {
      font-size: 2rem !important;
    }

    .heading {
      font-size: 1.5rem !important;
    }

    .actions {
      height: 20% !important;
      width: 100% !important;
      background-color: transparent !important;
    }
  }
}
