// COLORS

$color-background: #03001c;

$color-primary: #301e67;
$color-primary-dark: #1d123f;

$color-secondary: #b6eada;
$color-secondary-dark: #b6eadaf1;
$color-secondary-light: #e0f7f03a;

$color-tertiary: #5b8fb9;

$color-grey-light: #c4c2c2;

//$color-background: #fff;
//$color-secondary: #ff8500;

// SCREENS

$small: 640px;
$medium: 768px;
$large: 1024px;
$extra-large: 1280px;
