// COLORS

$color-background: #03001c;

$color-primary: #301e67;
$color-primary-dark: #1d123f;

$color-secondary: #b6eada;

$color-tertiary: #5b8fb9;

$color-grey-light: #c4c2c2;

// SCREENS

$small: 640px;
$medium: 768px;
$large: 1024px;
$extra-large: 1280px;
